/* GENEL STİLLER */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f5f5;
    color: #222;
}

/* HEADER */
header {
    background: #ffcb05; /* TURKCELL sarısı */
    color: #000; 
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 { font-size: 22px; }
header span { font-size: 13px; }

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.3s;
}

nav a:hover {
    background: #ffcb05; 
    color: #000;
}

/* HERO BÖLÜMÜ */
.hero {
    background:
        linear-gradient(
            rgba(0, 60, 136, 0.6),
            rgba(0, 60, 136, 0.6)
        ),
        url("images/hero-bg.jpg") no-repeat top left; /* Görsel üst ve sola hizalanacak */
    background-size: cover;
    color: white;
    text-align: center;
    padding: 15vh 2vw;
}


.hero h2 {
    font-size: 40px;
    margin-bottom: 15px;
    text-shadow: 0 3px 10px rgba(0,0,0,0.35);
}

.hero p {
    font-size: 18px;
    max-width: 700px;
    margin: 20px auto;
    text-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

/* BUTONLAR */
.btn {
    display: inline-block;
    background: #ffcb05;
    color: #000;
    padding: 14px 32px;
    text-decoration: none;
    margin: 8px;
    bor
