/* GENEL STİLLER */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f5f5;
    color: #222;
}

/* HEADER */
header {
    background: #ffcb05; /* TURKCELL sarısı */
    color: #000; /* Siyah yazı ile kontrast */
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 { font-size: 22px; }
header span { font-size: 13px; }

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.3s;
}

nav a:hover {
    background: #ffcb05; /* Turuncu / sarı hover */
    color: #000;
}

/* HERO BÖLÜMÜ */
.hero {
    background:
        linear-gradient(
            rgba(0, 60, 136, 0.6),
            rgba(0, 60, 136, 0.6)
        ),
        url("images/hero-bg.jpg") no-repeat;
    background-position: top left; /* Görsel en üst sol köşede */
    background-size: cover;
    color: white;
    text-align: center;
    padding: 12vh 2vw; /* Hero yüksekliği */
}

.hero .container {
    padding-top: 15vh; /* Başlığı g*
